:root {
  --app-bg-color: #677c96;
  --focus-color: #FF6FDF;
  --primary-color: #B391D2;
  --secondary-color: #C2C5EB;
  --text-color: #424242;
  --card-color: #E3F7F8;
  --link-color: var(--primary-color);
  --disabled-fg-color: #fff;
  --disabled-bg-color: #dddddd;
  --elt-border: 1px solid rgba(0, 0, 0, 0.125);
  --controls-fg-color: var(--text-color);
  --controls-bg-color: #E3F7F8;
}

body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    color: var(--text-color);
    background-color: var(--app-bg-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
  background-color: transparent;
  &:hover {
    color: var(--focus-color);
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 1rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--card-color);
}

h1, .h1 { font-size: 2.5rem }
h2, .h2 { font-size: 2rem }
h3, .h3 { font-size: 1.75rem }
h4, .h4 { font-size: 1.5rem }
h5, .h5 { font-size: 1.25rem }
h6, .h6 { font-size: 1rem }

.select {
  display: inline;
  font-size: 16px;
  font-weight: 900;
  color: var(--text-color);
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  margin: 0 2px;
  max-width: 100%;
  border-radius: 0.5em;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: var(--controls-bg-color);
  border: 1px solid var(--primary-color);
  &:focus {
    outline: none;
  }
  &:hover {
    border: 1px solid var(--focus-color);
  }
}

@media (min-width: 576px) {
  .app { max-width: 540px; }
}
@media (min-width: 768px) {
  .app { max-width: 720px; }
}
@media (min-width: 992px) {
  .app { max-width: 960px; }
}
@media (min-width: 1200px) {
  .app { max-width: 1140px; }
}

a:link {
  color: var(--link-color);
}
a:visited {
  color: var(--link-color);
}
a:hover {
  color: var(--focus-color);
}
a:active {
  color: var(--link-color);
}

.about-container {
  background-color: var(--card-color); 
  border: 3px solid var(--secondary-color);
  border-radius: 5px;
  padding: 1.5em 1em 1em 1em;
  font-weight: 400;
  color: var(--text-color);
  margin: 0 0 1em 0;
  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
  }
  p {
    margin-top: 0;
    margin-bottom: 1rem;  
  }
  h3{
    margin-top: .2em;
    font-weight: 700;
    color: var(--text-color);
  }
}

.app {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2em;
}

.toolbar {
  display: grid;
  grid-template-columns: 10% auto 10%;
  margin: 5px;
  h1 {
    display: inline;
    margin: 0 0.4em;
  }
}

.second-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 1em 0 5px 0;
  @media (max-width: 992px) {
    flex-direction: column;
  }
}

.radio-label {
  font-size: 1em;
  font-weight: 900;
  z-index: 12;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radio-button {
  position: relative;
  border-radius: 50%;
  width: 2.2em;
  height: 2.2em;
  z-index: 10;
  color: var(--text-color);
  margin: 0 0.1em;

  &:hover {
    cursor: pointer;
  }
  &::after {
    content: "";
    width: 1.9em;
    height: 1.9em;
    border-radius: 50%;
    background-color: var(--card-color);
    opacity: 1;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.radio-input {
  position: absolute;
  visibility: hidden;
  display: none;
  &:checked + .radio-button {
    background-color: var(--focus-color);
    &:hover {
      cursor: not-allowed;
    }
    &:after {
      margin: auto;
      opacity: 1;
      background-color: var(--controls-bg-color);
    }
  }
  &:not(:checked) + .radio-button {
    background-color: var(--controls-bg-color);
  }
}

.units {
  @media (max-width: 992px) {
    margin-top: 0.5em;
  }
}

.units-panel {
  display: flex;
  justify-content: center;
  font-size: 18px;
}

.day-header {
  svg {
    width: 1em;
  }
  div {
    text-align: center;
    width: 100%;
  }
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-content: stretch;
  align-items: center;
  padding: 2px 4px;
  text-align: center;
  border: var(--elt-border);
  border-radius: 0.25rem;
  background-color: var(--secondary-color);
  @media (max-width: 992px) {
    display: none;
  }
}

svg.drag-handle {
  /*
   See the following link for an example (and tool) to convert hex values to a corresponding CSS filter:
   https://stackoverflow.com/questions/22252472/how-can-i-change-the-color-of-an-svg-element
   */
  filter: invert(74%) sepia(15%) saturate(1566%) hue-rotate(214deg) brightness(83%) contrast(98%);
  &:hover {
    filter: invert(72%) sepia(29%) saturate(5023%) hue-rotate(283deg) brightness(101%) contrast(108%);
  }
  cursor: grab;
}

.dragging {
  opacity: 0.5;
}

.plan-and-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  margin: 1em 0 5px 0;
  width: 100%;
  min-width: 0;
  h3 {
    display: inline;
    margin: 0 0.4em;
    color: var(--controls-bg-color);
  }
}

.plan-and-date-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  min-width: 0;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  row-gap: 0.5em;
}

.week-grid {
  display: grid;
  @media (min-width: 992px) {
    grid-template-columns: 0.75fr repeat(7, 1fr);
  }
  column-gap: 0.5em;
}

.tools-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 5px 0;
}

.tools-middle {
  display: flex;
  align-items: center;
  justify-content: center;
  & > h1 {
    font-weight: 900;
  }
  @media (max-width: 576px) {
    & > h1 {
      font-size: 1.5em;
    }
  }
  h1 {
    display: inline;
    margin: 0 .4em;
  }
}

.tools-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 5px 0;
}

.tool-button {
  border-radius: 50%;
  padding: 3px;
  color: var(--controls-bg-color);
  &:hover {
    cursor: pointer;
  }
}

.tool-button a {
  & > svg {
    width: 2em;
    height: 2em;
    display: block;
    margin-left: -2px;
    margin-right: auto;
    color: var(--controls-bg-color);
    &:hover {
      color: var(--focus-color);
    }
  }
}

.tool-button a.active {
  pointer-events: None;
  & > svg {
    fill: var(--disabled-bg-color)
  }
}

.app-button {
  display: inline;
  font-size: 16px;
  font-weight: 900;
  color: var(--text-color);
  line-height: 1.3;
  padding: 0.6em 0.8em 0.5em 0.8em;
  margin: 0 2px;
  max-width: 100%;
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--controls-bg-color);
  border: 1px solid var(--primary-color);
  &:focus {
    outline: none;
  }
  &:hover {
    border: 1px solid var(--focus-color);
    cursor: pointer;
  }
  &:disabled {
    background: var(--disabled-bg-color);
    color: var(--disabled-fg-color);
    &:hover {
      border: 1px solid;
      cursor: not-allowed;
    }
  }
}

.blank-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
}

.blank-content {
  height: 100%;
  padding: 5px;
  border-radius: 0 0 0.25rem 0.25rem;
  background-color: var(--secondary-color);
}

.workout-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  background-color: var(--card-color);
  opacity: 1;
}

.workout-card.dragging {
  opacity: 0.7;
}

.workout-content {
  svg {
    width: 1em;
    position: absolute;
    top: 2px;
    left: 4px;
  }
  p {
    white-space: pre-wrap;
    /* so newlines render correctly for workout text */
  }
  position: relative;
  height: 100%;
  padding: 0.1em 0.5em 1.5em 1.8em;
  border-radius: 0 0 0.25rem 0.25rem;
  @media (min-width: 768px) {
    min-height: 4em;
  }
}

.workout-title {
  font-weight: 700;
  font-size: 1em;
}

.workout-description {
  font-weight: 400;
  font-size: 0.8em;
}

.week-summary {
  height: 100%;
  width: 100%;
  padding: 5px;
  text-align: center;
  border: var(--elt-border);
  border-radius: 0.25rem;
  background-color: var(--secondary-color);
  @media (max-width: 992px) {
    position: relative;
  }
  img {
    max-height: 64px;
    display: inline;
    @media (max-width: 992px) {
      position: absolute;
      top: 10px;
      left: 10px;
      max-height: 32px;
      max-width: 32px;
    }
  }
  small,
  .small {
    font-size: 80%;
    font-weight: 400;
  }
  .week-distance {
    font-size: 0.75em;
    margin: 0.25em 0;
  }
}

.week-start-picker {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 1em 0 5px 0;
  /* color: ${(props) => props.theme.colors.controlsTitle}; */
  @media (max-width: 992px) {
    flex-direction: column;
  }
  h3 {
    display: inline;
    margin: 0 0.4em;
    color: var(--controls-bg-color);
  }
}

.plan-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 1em 0 5px 0;
}

.plan-details-content {
  text-align: center;
  width: 75%;
  @media (max-width: 992px) {
    width: 90%;
  }
  background-color: var(--card-color); 
  border: 3px solid var(--secondary-color);
  color:  var(--text-color);
  font-weight: 700;
  border-radius: 0.5rem;
  padding: 1em;
}

.week-header {
  height: 100%;
}

.day-cell {
  height: 100%;
}

.dateline {
  text-align: center;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-weight: 700;
  font-size: 0.8em;
  border-radius: 0.25rem 0.25rem 0 0;
}

.date-picker-wrapper {
  z-index: 1000;
}

.main-ui {
  margin-top: 2em;
  padding: 5px;
}

.plan-removed-message {
  text-align: center;
  background-color: var(--card-color);
  border: 3px solid var(--secondary-color);
  color: var(--text-color);
  font-weight: 700;
  font-size: 1.2em;
  border-radius: 0.5rem;
  padding: 2em;
  h2 {
    color: var(--text-color);
  }
}

.footer {
  font-size: .7em;
}

/* About Burst */
.burst-container {
  height: 40px;
  display: flex;
  align-items: flex-start;
}

.about-burst {
  display: inline-block;
  text-decoration: none;
  transform: rotate(-12deg);
  transition: transform 0.2s ease;
  &:hover {
    transform: scale(1.1) rotate(10deg);
  }
  .burst-shape {
    fill: var(--primary-color);
    stroke: var(--secondary-color);
    stroke-width: 1;
    transition: fill 0.2s ease;
  }
  .burst-text {
    fill: var(--text-color);
    font-size: 21px;
    font-weight: 900;
    animation: burst-text-in 0.4s ease-out;
  }
  &:hover .burst-shape {
    fill: var(--focus-color);
  }
}

@keyframes burst-text-in {
  0% {
    opacity: 0;
    transform: scale(0.5) rotate(-15deg);
  }
  50% {
    opacity: 1;
    transform: scale(1.1) rotate(5deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}

/* Plan Finder */
.plan-finder {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  width: 100%;
  min-width: 0;
  .select {
    max-width: 100%;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/* Segmented Control */
.segmented-control {
  display: flex;
}

.segmented-control button {
  font-size: 16px;
  font-weight: 900;
  color: var(--text-color);
  line-height: 1.3;
  padding: 0.6em 0.8em 0.5em 0.8em;
  border: 1px solid var(--primary-color);
  background-color: var(--controls-bg-color);
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.segmented-control button:first-child {
  border-radius: 0.5em 0 0 0.5em;
}

.segmented-control button:last-child {
  border-radius: 0 0.5em 0.5em 0;
  border-left: none;
}

.segmented-control button:focus {
  outline: none;
}

.segmented-control button:hover:not(.selected) {
  border-color: var(--focus-color);
}

.segmented-control button.selected {
  background-color: var(--controls-bg-color);
  color: var(--text-color);
  border: 3px solid var(--focus-color);
}

/* BYOP Form */
.byop-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

.byop-error {
  text-align: center;
  width: 75%;
  @media (max-width: 992px) {
    width: 90%;
  }
  background-color: var(--card-color);
  border: 3px solid #dc3545;
  color: #dc3545;
  font-weight: 700;
  border-radius: 0.5rem;
  padding: 1em;
  word-break: break-word;
}

.byop-description {
  width: 75%;
  @media (max-width: 992px) {
    width: 90%;
  }
  background-color: var(--card-color);
  border: 3px solid var(--secondary-color);
  color: var(--text-color);
  font-weight: 700;
  border-radius: 0.5rem;
  padding: 1em;
  h1, h3 {
    color: var(--text-color);
    text-align: center;
    display: block;
  }
  h1 {
    font-size: 1.5em;
    margin: 0 0 0.5em 0;
  }
  h3 {
    font-size: 1.3em;
    margin: 0.5em 0;
  }
  p {
    margin: 0;
  }
}
